@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Pacifico&display=swap');

.Menume {
    width: 100%;
    height: 100vh;
    color: rgb(40, 78, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.firstboxmenu {
    width: 97%;
    height: 80vh;
    margin-top: 70px;
    border-radius: 20px;
}

.firstboxmenu img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 20px;
    object-position: center;
}

.firstboxmenutwo {
    width: 97%;
    height: 80vh;
    margin-top: 70px;
    border-radius: 20px;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.326);
    z-index: 99;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.topparttext {
    width: 30vw;
    height: 40vh;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.Headfood {
    font-family: 'poppins', sans-serif;
    font-size: 3vw;
    color: antiquewhite;
    font-weight: 400;
    z-index: 99;
}

.Headfoodtw {
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    color: antiquewhite;
    font-weight: 400;
    width: 260px;
    height: 50px;
    z-index: 99;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
}

.Headfoodthr {
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    color: antiquewhite;
    font-weight: 400;
    width: 260px;
    height: 40px;
    z-index: 99;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.buttontw {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid antiquewhite;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: antiquewhite;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 2.4em;
    min-width: 0;
    outline: none;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.buttontw:disabled {
    pointer-events: none;
}

.buttontw:hover {
    color: #fff;
    background-color: rgb(196, 189, 181);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-0px);

}

.buttontw:active {
    box-shadow: none;
    transform: translateY(0);
}

.bottomparttext {
    width: 60vw;
    height: 65vh;

    position: relative;
    top: 18.5%;
    border-bottom-right-radius: 20px;
    display: flex;

}

.bottompartmenu {
    width: 340px;
    height: 100%;
    
    overflow: hidden;

}

.bottompartmenu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.bottompartmenutw {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.partmenuon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.prem {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
    color: #000;
}

.premm {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(107 114 128);
}

.partmenutw{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.partmenutwone{
    width: 50%;
    height: 100%;
    border-right: 2px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}
.tea{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.teatex{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    color: bisque;
}
.teatexx{
    font-family: "poppins",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #000;
    padding-left: 10px;
    padding-top: 10px;
}