.Nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: absolute;
    top: 0%;
}
.partone{
    position: relative;
    width: 104px;
    height: 48px;
}
.partone img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parttwoo{
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
    width: 400px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: rgb(39 37 37 / 50%);
    border-radius: 20px;
    
}

.partthree{
    display: flex;
    flex-direction: row;
    gap: 15px;
}


/* Sm screen size */

@media  (min-width: 400px) and (max-width : 500px){
   
    .Nav Button{
        display: none;
    }   
    .partone{
        position: relative;
        width: 104px;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
}