.cartmain {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.cartit {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    padding: 0% 4%;
}

.Shoppingtexx {
    font-size: 18px;
    font-weight: 600;
    color: rgb(214, 212, 212);
    ;
}

/* items */
.itemscart {
    width: 90%;
    height: 150px;
    border-bottom: 0.5px solid #be9c79;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px 0px;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

}

.itemscart:hover {
    width: 90%;
    border-bottom: 0.5px solid #be9b7916;
    height: 150px;
    background-color: #be9b790e;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.4s ease-in-out;
    padding: 8px 0px;
}

.itemimg {
    width: 80px;
    height: 100px;
    border-radius: 8px;
}

.itemimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    z-index: 1;
}

.itemdetail {
    width: 300px;
    height: 100%;
    white-space: normal;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 10px;
}

.itemplus {
    width: 140px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.apply {
    width: fit-content;
    min-width: 100px;
    height: 45px;
    padding: 8px;
    position: relative;
    left: -128px;
    border-radius: 5px;
    background: #803D3B;
    color: #fff;
    border: 2.5px solid transparent;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

.apply:hover {
    background-color: #803D3B;
    box-shadow: 0px 0px 20px -18px;
}

.apply:active {
    transform: scale(0.95);
}

.itemplustw {
    width: 140px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.deleteee {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    color: beige;
}

.deleteee:hover {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.deleteee:active {
    transform: scale(0.9);
    transition: all 0.4s ease-in-out;

}

.itemname {
    font-family: 'poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: rgb(214, 212, 212);
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.itemnamee {
    font-family: 'poppins', sans-serif;
    font-size: 13px;
    font-weight: 540;
    color: rgb(214, 212, 212);
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

p {
    color: #d6bfab;
}

.itemsheasder {
    width: 90%;
    height: 80px;
    border-bottom: 0.5px solid #be9c79;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px 0px;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
}

.itemnumbers {
    font-size: 16px;
    color: rgb(214, 212, 212);
    font-weight: 600;
}

.invalid {
    font-size: 16px;
    color: rgba(255, 0, 0, 0.523);
    font-weight: 600;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0px 30px;
}

.invalidnon {
    font-size: 16px;
    color: aliceblue;
    font-weight: 600;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0px 30px;
}

.invalidnonn {
    font-size: 16px;
    color: rgb(33, 158, 120);
    font-weight: 600;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0px 30px;
}

.Paymentnon {
    width: 250px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    display: none;
    transition: all 0.4s ease-in-out;
}

.Delivery{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cros{
    font-size: 20px;
    color: #7a3937;
    position: relative;
    left: 20%;
    top: -56%;
    cursor: pointer;
}

/* Increase */
.plus{
    width: 30px;
    height: 30px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    margin-top: 0%;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-top: 0px ;
  }
  .plus:hover{
    transform: translate(1.08);
    transition: all 0.4s ease-in-out;
    background-color:#bd9f85;
  }
  .storeplus{
    width: 25px;
    height: 25px;
  }

  /* Decrease */
  .muinus{
    width: 30px;
    height: 30px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    margin-top: 0%;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-top: 0px ;
  }
  .muinus:hover{
    transform: translate(1.08);
    transition: all 0.4s ease-in-out;
    background-color:#bd9f85;
  }
  .storeplus{
    width: 25px;
    height: 25px;
  }
  
/* Payment box */
.Payment {
    max-width: 500px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 30%;
    top: 13%;
    display: block;
    border-radius: 8px;
    transform: scale(1.0);
    transition: all 0.4s ease-in-out;
}

.container {
    position: relative;
    width: 100%;
    background: #FCEDDA;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.container .form {
    margin-top: 15px;
}

.form .input-box {
    width: 100%;
    margin-top: 10px;
}

.input-box label {
    color: #000;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #808080;
    margin-top: 5px;
    border: 1px solid #EE4E34;
    border-radius: 6px;
    padding: 0 15px;
    background: #FCEDDA;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.form .gender-box {
    margin-top: 10px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
}

.gender input {
    accent-color: #EE4E34;
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.gender label {
    color: #000;
}

.address :where(input, .select-box) {
    margin-top: 10px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #808080;
    font-size: 1rem;
    background: #FCEDDA;
}

.form button {
    height: 40px;
    width: 100%;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #EE4E34;
}

.form button:hover {
    background: #EE3E34;
}


@media (max-width : 500px) {

    .itemsheasder {
        width: 100%;
        height: 80px;
        border-bottom: 0.5px solid #be9c79;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        padding: 8px 5px;
        margin-top: 10px;
        transition: all 0.4s ease-in-out;
    }

    .itemnumbers {
        font-size: 16px;
        color: rgb(214, 212, 212);
        ;
        font-weight: 600;
    }

    /* items */
    .itemscart {
        width: 100%;
        height: 190px;
        border-bottom: 0.5px solid #be9b7961;
        background-color: #be9b790e;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        padding: 8px 1px;
        transition: all 0.4s ease-in-out;
    }

    .itemscart:hover {
        width: 100%;
        height: 190px;
        border-bottom: 0.5px solid #be9b7973;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        padding: 8px 1px;
        transition: all 0.4s ease-in-out;
    }

    .itemimg {
        width: 90px;
        height: 80px;
        border-radius: 8px;
    }

    .itemimg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        z-index: 1;
    }

    .itemdetail {
        width: 300px;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 10px;
    }

    .itemplus {
        width: 148.5px;
        height: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }

    .itemname {
        font-family: 'poppins', sans-serif;
        font-size: 15.1px;
        font-weight: 640;
        color: rgb(214, 212, 212);
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .itemnamee {
        font-family: 'poppins', sans-serif;
        font-size: 12px;
        font-weight: 540;
        color: rgb(214, 212, 212);
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    p {
        color: #d6bfab;
    }



}

.cartboxmain {
    width: 100%;
    height: 100%;
    background-color: #eee4d9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* flex-direction: column; */
}

.cartboxmainleft {
    width: 60%;
    height: 100%;
    background-color: #835744;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    white-space: nowrap;
    scroll-snap-type: y mandatory;
    overflow: auto;
    padding-left: 5%;
    padding-bottom: 1%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}


.cartboxmainright {
    width: 40%;
    height: 100%;
    background-color: #be9c79;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.totalitems {
    width: 400px;
    height: 350px;
    /* background-color: rgb(35, 37, 39); */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.priceinfo {
    width: 100%;
    height: 20px;
    border-bottom: 0.5px solid #a57443;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #9c5543 !important;

}

.pricetotal {
    width: 100%;
    height: 50px;
    border-top: 1px solid rgb(84, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5px;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: whitesmoke;
}

.pricetotalleft {
    width: 50%;
    height: 100%;
    padding-left: 20px;
    font-size: 18px;
}

.pricetotalleftti {
    width: 90%;
    height: 20%;
    padding-left: 0px;
    margin-bottom: 5px;
    font-weight: 700;
    color: aliceblue;
    font-size: 18px;
}

.pricetotalright {
    width: 50%;
    height: 100%;
    padding-left: 100px;
    font-family: 18px;
}

.pricetotalrightti {
    width: 80%;
    height: 100%;
    border-radius: 6px;
    border: 1.5px solid black;
    margin-bottom: 12px;
    position: relative;
    left: -18px;
}

.textInput {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 1px solid aliceblue;
    padding: 0px 4px;

}

.textInput:active {
    box-shadow: 2px 2px 15px rgba(68, 64, 64, 0.082) inset;
}

.textInput:focus {
    outline: none !important;
}

.price {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: whitesmoke
}

.dicountcode {
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(145, 72, 72);
}

.cartbutt {
    font-size: 14px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: #803D3B;
    color: white;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: relative;
    left: 20%;
}

.cartbutt:hover {
    background: #7a3937;
    transform: scale(1.04);
    transition: all 0.4s ease-in-out;
}

.cartbutt:active {
    transform: translate(0em, 0.2em);
}

@media (max-width : 500px) {
    .cartboxmain {
        width: 100%;
        height: 100%;
        background-color: #eee4d9;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        flex-direction: column;
    }

    .cartboxmainleft {
        width: 100%;
        height: 100%;
        background-color: #835744;
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        white-space: nowrap;
        overflow-y: scroll;
        padding-left: 2%;
        padding-bottom: 1%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

    }


    .cartboxmainright {
        width: 100%;
        height: 100%;
        background-color: #be9c79;
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .totalitems {
        width: 400px;
        height: 320px;
        /* background-color: rgb(35, 37, 39); */
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .priceinfo {
        width: 100%;
        height: 20px;
        border-bottom: 0.5px solid #a57443;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'poppins', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #9c5543 !important;

    }

    .pricetotal {
        width: 100%;
        height: 50px;
        border-top: 1px solid rgb(84, 51, 51);
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 5px;
        font-family: 'poppins', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: whitesmoke;
    }

    .pricetotalleft {
        width: 50%;
        height: 100%;
        padding-left: 20px;
    }

    .pricetotalright {
        width: 50%;
        height: 100%;
        padding-left: 65px;
    }

    .price {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center !important;
        align-items: center;
        justify-content: space-between !important;
        font-family: 'poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: whitesmoke;
        padding: 0px 0px;
    }

    .cartbutt {
        font-size: 14px;
        padding: 0.5em 2em;
        border: transparent;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        background: #803D3B;
        color: white;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        position: relative;
        left: 10%;
    }

    .cartbutt:hover {
        background: #7a3937;
        transform: scale(1.04);
        transition: all 0.4s ease-in-out;
    }

    .cartbutt:active {
        transform: translate(0em, 0.2em);
    }
}

@media (min-width: 400px) and (max-width : 500px) {
    .Payment {
        width: 360px;
        height: 400px;
        background-color: #fff;
        position: absolute;
        left: 7%;
        top: 13%;
        display: block;
        border-radius: 8px;
    }
    .Delivery{
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .cros{
        font-size: 20px;
        color: #7a3937;
        position: relative;
        left: 20%;
        top: -56%;
        cursor: pointer;
    }
    .Shoppingtexx {
        font-size: 18px;
        font-weight: 600;
        color: rgb(214, 212, 212);
        ;
    }

    .apply {
        width: fit-content;
        min-width: 100px;
        height: 45px;
        padding: 8px;
        position: relative;
        left: -118px;
        border-radius: 5px;
        background: #803D3B;
        color: #fff;
        border: 2.5px solid transparent;
        box-shadow: 0px 0px 20px -20px;
        cursor: pointer;
        transition: all 0.2s ease-in-out 0ms;
        user-select: none;
        font-family: 'Poppins', sans-serif;
    }

    .apply:hover {
        background-color: #803D3B;
        box-shadow: 0px 0px 20px -18px;
    }

    .apply:active {
        transform: scale(0.95);
    }

    .cartmain {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

    .cartit {
        width: 100%;
        height: 87vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18%;
        padding: 0% 4%;
    }
}

@media (min-width: 300px) and (max-width : 400px) {
    .Payment {
        width: 300px;
        height: 400px;
        background-color: #fff;
        position: absolute;
        left: 8%;
        top: 10%;
        display: block;
        border-radius: 8px;
    }
    .Delivery{
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .cros{
        font-size: 20px;
        color: #7a3937;
        position: relative;
        left: 10%;
        top: -56%;
        cursor: pointer;
    }
    .Shoppingtexx {
        font-size: 18px;
        font-weight: 600;
        color: rgb(214, 212, 212);
        ;
    }

    .apply {
        width: fit-content;
        min-width: 100px;
        height: 45px;
        padding: 8px;
        position: relative;
        left: -90px;
        border-radius: 5px;
        background: #803D3B;
        color: #fff;
        border: 2.5px solid transparent;
        box-shadow: 0px 0px 20px -20px;
        cursor: pointer;
        transition: all 0.2s ease-in-out 0ms;
        user-select: none;
        font-family: 'Poppins', sans-serif;
    }

    .apply:hover {
        background-color: #803D3B;
        box-shadow: 0px 0px 20px -18px;
    }

    .apply:active {
        transform: scale(0.95);
    }

    .cartmain {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

    .cartit {
        width: 100%;
        height: 87vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18%;
        padding: 0% 4%;
    }
}