.Nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  position: absolute;
  top: 0%;

}

.partonenav {
  width: 120px;
  height: 55px;
}

.partonenav img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parttwonav {
  display: flex;
  flex-direction: row;
  gap: 25px;
  position: relative;
  width: 400px;
  height: 60px;
  align-items: center;
  justify-content: center;
  background-color: rgb(39 37 37 / 40%);
  border-radius: 16px;
  margin-left: 170px;
}

.partthreenav {
  width: 300px;
  display: flex;
  justify-content: end;
  justify-content: space-around;
  align-items: center;
}

.item {
  color: #f8e4be;
  font-family: "poppins", sans-serif;
  font-size: 17px;
  font-weight: 550;
  cursor: pointer;
  transition: ease-out 0.5s;

}

.item:hover {
  color: #eae7e1;
  transition: ease-out 0.5s;
  transform: scale(1.04);
  text-decoration: underline;
}

.Li {
  color: #F6E5DA;
  text-decoration: none;
}

@media (min-width: 400px) and (max-width: 500px) {
  .Nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 26px;
    position: absolute;
    top: 0%;
  }

  .partonenav {
    width: 100px;
    height: 45px;
    transform: translateX(10%) !important;
    margin-top: 10px;
  }

  .parttwonav {
    display: none;
  }

  .partthreenav {
    width: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translate(16%) !important;
  }

}

@media (min-width: 300px) and (max-width: 400px) {
  .Nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    position: absolute;
    top: 0%;
  }
  .partonenav {
    width: 100px;
    height: 45px;
    transform: translateX(10%) !important;
    margin-top: 10px;
  }

  .parttwonav {
    display: none;
  }

  .partthreenav { 
    width: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translate(16%) !important;
  }

}