.Pageseven{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}
.Testimonial{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8E4BE;
}
.Testimonialparttwo{
    width: 80%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-left: 1px solid #F8E4BE;
    border-bottom: 1px solid #F8E4BE;
    position: relative;
}
.Testimonialparttwo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
}

@media (min-width: 400px) and (max-width: 500px) {
    .Pageseven{
        width: 100%;
        height: 78vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: space-around;
        align-items: center;
    }
    .Testimonial{
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #F8E4BE;
    }
    .Testimonialparttwo{
        width: 85%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border-left: 1px solid #F8E4BE;
        border-bottom: 1px solid #F8E4BE;
        position: relative;
    }
    .Testimonialparttwo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        position: absolute;
    }
}