.spanone {
    top: 23px;
    transform-origin: left center;
    height: 3px;
    display: block;
    position: absolute;
    width: 100%;
    background: #FFF8E8;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    
  }
  .spanonecross{
    transform: translateY(0%) rotate(-36.5deg);
    top: 23px;
    transform-origin: left center;
    height: 3px;
    display: block;
    position: absolute;
    transition: .25s ease-in-out;
    width: 100%;
    background: #FFF8E8;
    border-radius: 9px;
    opacity: 1;
    left: 0;
  }