.write{
    border-radius: 50%; 
   
  }
  .write img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
   
  }
  @media (min-width: 400px) and (max-width: 500px) {
    .write{
      border-radius: 50%; 
    }
    .write img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
}