.glow{
    width: 60vw;
    height: 50vh;
    position: absolute;
    left: 0px;
    background-color: #3f2f2a;
    border-radius: 50%; 
    opacity: 0.5;
    filter:  blur(540.31px); /* Set the blur amount */
  }