.cartEmpty{
    color: aliceblue;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconempty{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Continuempty{
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    font-size: 21px;
   
    padding-left: 1%;
}
.Continuelogin{
    width: 500px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    font-size: 12px;
    padding-left: 1%;
}
.Continuelogin{
    width: 500px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    font-size: 12px;
}

.buttonnn{
    position: relative;
    display: inline-block;
    padding: 8px 13.3px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 1px;
    text-decoration: none;
    color: #F8E4BE;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #F8E4BE;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #F8E4BE;
    align-items:flex-start;
    
  }

  .buttonnn:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #E0A8724D;
  }
  
  .buttonnn:active {
    transform: scale(0.9);
  }

  /* Small screen  */
  @media  (min-width: 400px) and (max-width :500px) {
    .buttonnn{
      font-size: 17px;
    }
    
  }

 