.Testimonialmain {
    width: 310px;
    height: 100%;
    background-color: #66371dd6;
    border-radius: 12px;
    box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
    border-left: 1px solid #F8E4BE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.partonetesti {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parttwotesti {
    width: 100%;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F0E3D0;
}

.partthreetesti {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F0E3D0;
   position: relative;
   top: 3%;
}

.circle1testi {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    border-left: 1px solid #F8E4BE;
    border-bottom: 1px solid #F8E4BE;
}

.circle1testi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    filter: brightness(90%);
}

.starstesti {
    color: rgb(238, 203, 8);
    width: 20px;
    height: 20px;
    position: relative;
    margin: 4px;
}
.starstesti img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.partfourtesti{
    width: 290px;
    height: 110px;
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    color: #F0E3D0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    position: relative;
    left: 16px;
    line-height: 120%;
}

.partfivetesti{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px 50px;
}
.instatest{
    height: 100%;
    width: 30px;
    font-size: 25px;
    color: #F0E3D0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    position: relative;
    bottom: 10px;
}
.instatest:hover{
    transform: scale(1.04);
    color: #f1ddbe;
    transition: all 0.4s ease-in-out;
}

/* @media (min-width: 400px) and (max-width: 500px) {
    .Swiper{
        display: none;
    }
} */




/* .Testimonialone {

    /* #0003 
} */

