.Cross {
    width: 55px;
    height: 55px;
    font-size: 43px;
    color: #FFF8E8;

    display: none;
}

@media (max-width : 500px) {
    .Cross {
        width: 40px;
        height: 40px;
        font-size: 45px;
        color: #FFF8E8;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }

    .crossone {
        width: 30px;
        height: 2px;
        background-color: #FFF8E8;
        transition: all 0.4s ease-in-out;
        transform: rotate(50deg);
        position: relative;
        top: 9.4px;
        border-radius: 3px;
    }

    .crosstwo {
        width: 30px;
        height: 2px;
        transition: all 0.4s ease-in-out;
        background-color: #FFF8E8;
        transform: rotate(-50deg);
        position: relative;
        top: -4px;
        border-radius: 3px;
    }
}